
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<div>

   <section class="banner_bottom py-md-5 py-4">
        <div class="container py-lg-5">
            <div class="text-center wthree-title pb-sm-5 pb-3">
                <h3 class="tittle-w3ls pb-4">About THS Labeling Tool</h3>
                <p class="tit mx-auto" style="text-justify: newspaper">Social media has become an important platform to gauge public opinion on topics related to our daily lives.
					In practice, processing these social posts requires big data analytics tools since the volume of data and the speed of production overwhelm single-server solutions.
					This sheer volume of data makes it unfeasible to inspect individual messages (posts) in search for items that are relevant to the target topic (e.g., mentions of a disease
					such as the flu). Hence machine learning tools are needed to sort out the data, eliminating irrelevant items. This process, however, requires a collection of labelled data
					items that can be used as examples to teach the machine learning algorithms what is irrelevant and what is not. </p>
            </div>
			<div class="inner_sec_info_wthree_agile mt-md-5 pt-3">
				<div class="row help_full">
					<div class="col-lg-6 banner_bottom_grid help">
						<img src="static\images\g1.jpg" alt=" " class="img-fluid">
					</div>
					<div class="col-lg-6 banner_bottom_left">
						<h4>Our Purpose</h4>
						<p>At the University of Puerto Rico, Mayaguez we are building the Twitter Health Surveillance (THS) application framework. THS is designed as a platform to allow end-users to
							monitor a stream of tweets, and process the stream with a combination of built-in functionality and their own user-defined functions containing machine learning algorithms.
							THS is implemented atop the Apache Hadoop Ecosystem, Google's TensorFlow, and Keras. The THS Labelling Tool is an application included in the THS framework for the purpose of
							creating a collection of labelled data. The application provides users with a collection un labelled tweets that have been captured from the Tweeter streaming API. Users are
							then required to label each tweet as being related with a target disease (e.g., Zika) or not. The labelled data is then used to
							train deep learning models based on recurrent and convolutional networks that can classify a new unseen tweet as being related to a disease or not.</p>
						</div>
				</div>
			</div>
		</div>
	</section>

	<!-- team -->
	<section class="py-md-5 py-4">
        <div class="container py-lg-5">
            <div class="text-center wthree-title pb-sm-5 pb-3">
                <h3 class="tittle-w3ls pb-4">Our Team</h3>
            </div>
			<div class="row" style="align-items: stretch; display: flex">
					<md-card class="col-md col-sm team-grids aos-init" data-aos="flip-left">
						<img src="static/images/manuel417.jpg" class="img-responsive" alt="">
        			<md-card-title >
          				<md-card-title-text>
            				<span class="md-headline" style="text-align: center">Manuel Rodriguez</span>
            				<span class="md-subhead" style="text-align: center">Leading Professor</span>
          				</md-card-title-text>

        			</md-card-title>
        			<md-card-actions layout="row" layout-align="center">
          				<md-button class="md-raised" style="background-color: #29aae3">
							<span class="fab fa-github"></span>
						<a href="https://github.com/manuel417" style="color: white">manuel417</a>
						</md-button>

        			</md-card-actions>
      			</md-card>

					<md-card class="col-md col-sm team-grids aos-init" data-aos="flip-left">
						<img src="static/images/andresher.jpg" class="img-responsive" alt="">
        			<md-card-title >
          				<md-card-title-text>
            				<span class="md-headline" style="text-align: center">Andres Hernandez</span>
            				<span class="md-subhead" style="text-align: center">Undergraduate Student</span>
          				</md-card-title-text>

        			</md-card-title>
        			<md-card-actions layout="row" layout-align="center">
          				<md-button class="md-raised" style="background-color: #29aae3">
							<span class="fab fa-github"></span>
						<a href="https://github.com/andresher" style="color: white">andresher</a>
						</md-button>

        			</md-card-actions>
      			</md-card>

					<md-card class="col-md col-sm team-grids aos-init" data-aos="flip-left">
						<img src="static/images/CristianCGarzon.jpg" class="img-responsive" alt="">
        			<md-card-title >
          				<md-card-title-text>
            				<span class="md-headline" style="text-align: center">Cristian Garzon</span>
            				<span class="md-subhead" style="text-align: center">Master's Student</span>
          				</md-card-title-text>

        			</md-card-title>
        			<md-card-actions layout="row" layout-align="center">
          				<md-button class="md-raised" style="background-color: #29aae3">
							<span class="fab fa-github"></span>
						<a href="https://github.com/CristianCGarzon" style="color: white">CristianCGarzon</a>
						</md-button>

        			</md-card-actions>
      			</md-card>


					<md-card class="col-md col-sm team-grids aos-init" data-aos="flip-left">
						<img src="static/images/lgrs05.jpg" class="img-responsive" alt="">
        			<md-card-title >
          				<md-card-title-text>
            				<span class="md-headline" style="text-align: center">Luis Rivera</span>
            				<span class="md-subhead" style="text-align: center">Undergraduate Student</span>
          				</md-card-title-text>

        			</md-card-title>
        			<md-card-actions layout="row" layout-align="center">
          				<md-button class="md-raised" style="background-color: #29aae3">
							<span class="fab fa-github"></span>
						<a href="https://github.com/lgrs05" style="color: white">lgrs05</a>
						</md-button>

        			</md-card-actions>
      			</md-card>


					<md-card class="col-md col-sm team-grids aos-init" data-aos="flip-left">
						<img src="static/images/manuel417.jpg" class="img-responsive" alt="">
        			<md-card-title >
          				<md-card-title-text>
            				<span class="md-headline" style="text-align: center">Danny Villanueva</span>
            				<span class="md-subhead" style="text-align: center">Master's Student</span>
          				</md-card-title-text>

        			</md-card-title>
        			<md-card-actions layout="row" layout-align="center">
          				<md-button class="md-raised" style="background-color: #29aae3">
							<span class="fab fa-github"></span>
						<a href="https://github.com/dannyvillanueva" style="color: white">dannyvillanueva</a>
						</md-button>

        			</md-card-actions>
      			</md-card>

			</div>
		</div>
	</section>
</div>
	<!-- //team -->

	<!-- footer -->
<style>
[is="mdcard"] {
	display: flex;
	align-items: stretch;
}
</style>
