<div class="container">
    <div class="row">
        <div class="col-md-push-6">
            <h2>About THS Labelling Tool</h2>
        </div>
        <div class="flow-text card-panel blue darken-4 white-text">Social media has become an important platform to gauge public opinion on  topics related to our daily lives.
            In practice, processing these social posts  requires big data analytics tools since the volume of data and the speed of
            production overwhelm single-server solutions. This sheer volume of data makes it unfeasible to inspect individual
            messages (posts) in search for items that are relevant to the target topic (e.g.,, mentions of a disease such as the flu).
            Hence machine learning tools are needed to sort out the data, eliminating irrelevant items. This process, however,
            requires a collection of labelled data items that can be used as examples to teach the machine learning algorithms what is
            irrelevant and what is not.  At the University of Puerto Rico, Mayaguez we are building the
            Twitter Health Surveillance (THS) application framework. THS is designed as a platform to allow end-users
            to monitor a stream of tweets, and process the stream with a  combination of  built-in functionality and their own
            user-defined functions containing machine learning algorithms. THS is implemented atop the Apache Hadoop Ecosystem,
            Google's TensorFlow, and Keras. The THS Labelling Tool is an application included in the THS framework for the
            purpose of creating a collection of labelled data. The application provides users with a collection un labelled tweets
            that have been captured from the Tweeter streaming API. Users are then required to label each tweet as being related
            with a target disease (e.g., Zika) or not. The labelled data is then used to train deep learning models based on recurrent
            and convolutional networks that can classify a new unseen tweet as being related to a disease or not. </div>
    </div>

</div>
