
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->



 <md-card style="background-color: #29aae3; color: white">
        <md-card-content layout-gt-xs="row" layout="column" layout-align="center center " layout-align-gt-xs="space-around" layout-margin style="text-transform: uppercase">
            <div >
                <div layout="row">
                    <i class="material-icons">label</i>
                    <h4 class="counter md-title">&nbsp;{{labeledCounter}}</h4>
                    <h5 hide-gt-xs>&nbsp;&nbsp;Labeled</h5>
                </div>
                <div >
                    <h5 hide show-gt-xs>Labeled</h5>
                </div>
            </div>
            <div >
                <div layout="row">
                    <i class="material-icons">label_off</i>
                    <h4 class="counter md-title">&nbsp;{{toLabelCounter}}</h4>
                    <h5 hide-gt-xs>&nbsp;&nbsp;To Label</h5>
                </div>
                <div >
                    <h5 hide show-gt-xs>To Label</h5>
                </div>
            </div>
            <div >
                <div layout="row">
                    <i class="material-icons">thumb_up</i>
                    <h4 class="counter md-title">&nbsp;{{positiveCounter}}</h4>
                    <h5 hide-gt-xs>&nbsp;&nbsp;Positive</h5>
                </div>
                <div >
                    <h5 hide show-gt-xs>Positive</h5>
                </div>

            </div>
            <div >
                <div layout="row">
                    <i class="material-icons">thumb_down</i>
                    <h4 class="counter md-title">&nbsp;{{negativeCounter}}</h4>
                    <h5 hide-gt-xs>&nbsp;&nbsp;Negative</h5>
                </div>
                <div >
                    <h5 hide show-gt-xs>Negative</h5>
                </div>
            </div>
            <div >
                <div layout="row">
                    <i class="material-icons">help_outline</i>
                    <h4 class="counter md-title">&nbsp;{{neutralCounter}}</h4>
                    <h5 hide-gt-xs>&nbsp;&nbsp;Neutral</h5>
                </div>
                <div >
                    <h5 hide show-gt-xs>Neutral</h5>
                </div>
            </div>
        </md-card-content>
    </md-card>


