
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<div>

    <div class="contact-wthree py-md-5 py-4">
        <div class="container py-lg-5">
            <div class="text-center wthree-title pb-sm-5 pb-3">
                <h3 class="tittle-w3ls pb-4">Register</h3>

            </div>
                    <div class="project-top mx-auto mt-lg-0 mt-5">
                        <!-- register form grid -->
                        <div class="register-top1">
                            <div class="panel-warning " align="center" style="color: red" ng-init="m = ''" ng-bind="m"> </div>
                            <form ng-submit="register(first, last, username, email, password)" class="register-wthree">
                                <div class="form-group">
                                    <div class="row">
										<div class="col-md-6">

                                            <input ng-model="first" class="form-control" type="text" placeholder="First name" name="first" required="true">
                                        </div>
                                        <div class="col-md-6 inpt-form">

                                            <input ng-model="last" class="form-control" type="text" placeholder="Last name" name="last" required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-12">

                                            <input ng-model="username" class="form-control" type="text" placeholder="Username" name="username" required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-12">

                                            <input ng-model="email" class="form-control" type="email" placeholder="example@email.com" name="email" required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-12">

                                            <input ng-model="password" class="form-control" type="password" placeholder="Password" name="password" required="true">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-lg-5 mt-3">

                                    <div class="col-md-12">
                                        <md-button type="submit" class="md-raised w-100" style="background-color: #29aae3; color: white">Register</md-button>
                                        <!--<button type="submit" class="btn btn-agile btn-block w-100">Register</button>-->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

            </div>
        </div>
    <!-- //services-->
<!-- footer -->
</div>
