
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<div>

    <md-card style="background-color: #29aae3; color: white">
        <md-card-content layout-gt-xs="row" layout="column" layout-align="center center " layout-align-gt-xs="space-around" layout-margin style="text-transform: uppercase">
            <div >
                <div layout="row">
                    <i class="material-icons">label</i>
                    <h4 class="counter md-title">&nbsp;{{labeledCounter}}</h4>
                    <h5 hide-gt-xs>&nbsp;&nbsp;Labeled</h5>
                </div>
                <div >
                    <h5 hide show-gt-xs>Labeled</h5>
                </div>
            </div>
            <div >
                <div layout="row">
                    <i class="material-icons">label_off</i>
                    <h4 class="counter md-title">&nbsp;{{toLabelCounter}}</h4>
                    <h5 hide-gt-xs>&nbsp;&nbsp;To Label</h5>
                </div>
                <div >
                    <h5 hide show-gt-xs>To Label</h5>
                </div>
            </div>
            <div >
                <div layout="row">
                    <i class="material-icons">thumb_up</i>
                    <h4 class="counter md-title">&nbsp;{{positiveCounter}}</h4>
                    <h5 hide-gt-xs>&nbsp;&nbsp;Positive</h5>
                </div>
                <div >
                    <h5 hide show-gt-xs>Positive</h5>
                </div>

            </div>
            <div >
                <div layout="row">
                    <i class="material-icons">thumb_down</i>
                    <h4 class="counter md-title">&nbsp;{{negativeCounter}}</h4>
                    <h5 hide-gt-xs>&nbsp;&nbsp;Negative</h5>
                </div>
                <div >
                    <h5 hide show-gt-xs>Negative</h5>
                </div>
            </div>
            <div >
                <div layout="row">
                    <i class="material-icons">help_outline</i>
                    <h4 class="counter md-title">&nbsp;{{neutralCounter}}</h4>
                    <h5 hide-gt-xs>&nbsp;&nbsp;Neutral</h5>
                </div>
                <div >
                    <h5 hide show-gt-xs>Neutral</h5>
                </div>
            </div>
        </md-card-content>
    </md-card>
	 <!-- counter -->

</div>
<div ng-init="tweet = TweetsService.currentTweet">

    <div class=" py-md-5 py-4">
        <md-content class="md-padding" >
        <div flex-gt-md="33" flex     layout="column" is="slide" ng-hide="slide">
            <md-card class="md-raised">

                    <md-card-title>
                        <md-card-title-text>
                            <h3 class="md-headline" style="text-align: center" ng-show="hasTweets">Tweet ID: {{tweet.id}}</h3>
                            <span class="md-headline" ng-hide="hasTweets"><i class="large material-icons ">sentiment_very_dissatisfied</i></span>

                        </md-card-title-text>
                    </md-card-title>
                <md-card-content>
                    <h4 class="md-subhead" ng-hide="hasTweets">You don't have more tweets to label. Come back again later or refresh this page to check again.</h4>
                    <p class="md-subhead" id="'tweet' + {{ tweet.id }}"  ng-show="hasTweets" >{{tweet.text}}</p>
                </md-card-content>

            </md-card>

            <div class="text-center  no-gutters" layout="row">
                <div flex="33">
                    <div >
                        <md-button ng-click="submit(tweet.id,1)" ng-show="hasTweets" class="md-fab " aria-label="FAB" style=" background-color: green" >
                        <i class="material-icons " style="color: white">thumb_up</i>
                        </md-button>
						<h4 class="my-2" style="color: #29aae3">Positive
                        </h4>
                    </div>
                </div>
                <div flex="33">
                    <div >
                        <md-button ng-click="submit(tweet.id,0)" ng-show="hasTweets" class="md-fab " aria-label="FAB" style=" background-color: red" >
                            <i class="material-icons" style="color: white">thumb_down</i>
                        </md-button>
                        <!--<md-button class="md-primary">Primary Button</md-button>-->
						<h4 class="my-2" style="color: #29aae3">Negative
                        </h4>
                    </div>
                </div>
                <div flex="33">
                    <div >
                        <md-button ng-click="submit(tweet.id,2)" ng-show="hasTweets" class="md-fab " aria-label="FAB" style=" background-color: #29aae3" >
                        <i class="material-icons" style="color: white">help_outline</i>
                        </md-button>
						<h4 class="my-2" style="color: #29aae3">Neutral
                        </h4>

                    </div>
                </div>

            </div>

        </div>
        </md-content>
    </div>

</div>


<style>
[is="slide"] {
  transition: all linear 0.5s;
  background-color: transparent;
  position: relative;
  top: 0;
  left: 0;
}

.ng-hide {
  /*height: 0;*/
  /*width: 0;*/
  background-color: transparent;
  top:0px;
  left: 200%;
}

</style>
