<div class="row " ng-init="tweet = TweetsService.currentTweet">
    <div class="col s12 m8 l6 offset-l3 offset-m2">
        <div class="row">
            <div class="card blue darken-4">
                <div class="container card-content white-text">
                    <span class="card-title center-align" ng-show="hasTweets">Tweet ID: {{ tweet.id }}</span>
                    <span class="card-title center-align" ng-hide="hasTweets"><i class="large material-icons center-align">sentiment_very_dissatisfied</i></span>
                    <h4 ng-hide="hasTweets">You don't have more tweets to label. Come back again later or refresh this page to check again.</h4>
                    <p class="flow-text" id="'tweet' + {{ tweet.id }}"  ng-show="hasTweets" >"{{ tweet.text }}"</p>
                </div>
                <div class="card-action">
                    <div class="container center-align">
                        <a class="waves-effect green darken-1 btn " ng-click="submit(tweet.id,1)" ng-show="hasTweets">Positive</a>
                        <a class="waves-effect blue darken-1 btn" ng-click="submit(tweet.id,2)" ng-show="hasTweets">Neutral</a>
                        <a class="waves-effect red darken-1 btn" ng-click="submit(tweet.id,0)" ng-show="hasTweets">Negative</a>
                    </div>
                </div>
            </div>
            <div ng-init="tweetsLeft  = TweetsCtrl.tweetsLeft">Tweets left: {{ tweetsLeft }}</div>

        </div>
    </div>
</div>
