<div class="row">
<ul id="tweetsList">
<li id="{{ tweet.id }}" ng-repeat=" tweet in tweets" ng-init="isAnswered = false"  ng-hide="isAnswered">

    <form id="'form'+{{ tweet.id }}" ng-model= "entry"  ng-submit="isAnswered = true" >
        <p>Text: {{ tweet.text }}</p>
        <label>
            <input type="radio" ng-model="classification" value="positive">
            Positive
        </label><br/>
        <label>
            <input type="radio" ng-model="classification" value="neutral">
            Neutral
        </label><br/>
        <label>
            <input type="radio" ng-model="classification" value="negative">
            Negative
        </label><br/>
        <button ng-class="button" ng-click="submit( tweet.id, classification)" ng-if="classification !== undefined">Submit Classification</button>
        <hr>
        <hr>

    </form>
</li>
</ul>











</div>
